body {
	margin: 0 !important;
}

#content {
	font-family: 'Play', sans-serif;
	width: 980px;
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
}

.pfd-svg text {
    font-family: 'Play', sans-serif !important;
    font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	text-align: start;
	line-height: 125%;
	letter-spacing: 0px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	text-anchor: start;
	fill: #0f0;
	fill-opacity: 1;
	stroke: #0f0;
	stroke-opacity: 1;
	display: inline;
}

#ros-link {
	stroke: #aaa;
}

#speed-value, #agl-value, #cpu-value, #battery-value {
	stroke: #fff;
	stroke: #fff;
}

.main-col {
	width: 652px;
	float: left;
	margin-right: 4px;
}

.right-col {
	width: 322px;
	float: left;
}

#map {
	height: 432px;
	border: solid 1px black;
	margin-bottom: 4px;
}

#timeline {
	height: 150px;
	border: solid 1px red;
}

#mission {
	height: 96px;
	border: solid 1px black;
	margin-bottom: 4px;
}

#cam-front {
	height: 240px;
	border: solid 1px green;
}

#pfd {
	height: 240px;
	margin-top: -242px;
	border: solid 1px green;
	margin-bottom: 4px;
}

#cam-down {
	height: 240px;
	border: solid 1px blue;
}

#compass {
	height: 240px;
	margin-top: -242px;
	border: solid 1px blue;
	background: none;
}
